:root {
  --purple-dark: #382194;
  --purple-light: #5840ba;
  --text-color: #646363;
  --bg-gray: #f6f6f7;
}

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

main {
  min-height: 100vh;
  background-color: var(--bg-gray);
  padding: 30px 0;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin-inline: auto;
}

/* Header */
.header {
  background-color: var(--purple-dark);
  padding: 10px 0;
}

/* Conteúdo Principal */
.titulo-principal {
   color: var(--purple-light);
   text-align: center;
   font-weight: 900;
   margin: 0;
}

.descricao-convidados {
  color: var(--text-color);
  text-align: center;
}

input[name = "convidados"] {
  display: block;
  margin-inline: auto;
}

input {
  border: solid 1px #d9d9d9;
  border-radius: 5px;
  padding: 10px;
}

input:focus {
  border-color: #979797;
  outline: none;
}

.blocos-editaveis, .campos-resposta {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 50px;
  padding: 30px 0;
}

.blocos-editaveis section {
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.blocos-editaveis h2 {
  text-align: center;
  color: var(--purple-light);
  font-weight: 900;
}

.campo-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.campo-form input {
  max-width: 120px;
}

.campo-form label {
  font-size: .8rem;
  color: var(--text-color);
}

.btn-calcular {
  all: unset;
  margin: 20px auto;
  display: block;
  background-color: var(--purple-light);
  color: #fff;
  padding: 10px 40px;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: .4s;
}

.btn-calcular:hover {
  transform: scale(1.03);
}

/* Área dos resultados */

#resultado {
  height: 0;
  overflow: hidden;
}

.resultado-section {
  margin: 50px 0;
  background-color: #fff;
  border-radius: 5px;
}

.campos-resposta {
  align-items: baseline;
}

.titulo-secao {
  padding: 20px 0;
  text-align: center;
  color: var(--purple-light);
  font-weight: 900;
}

.tabela {
  width: 100%;
  padding: 10px;
  border-spacing: 0 10px;
}

.tabela tr:nth-child(even) {
  background-color: var(--bg-gray);
}

.tabela th, .tabela td { 
  color: var(--text-color);
  font-weight: 400;
  text-align: start;
  padding: 10px;
}

.tabela .valor-resposta {
  font-weight: 700;
}

/* Footer */
.footer {
  background-color: var(--purple-dark);
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.footer p {
  margin: 0;
}

.footer a {
  color: #fff;
}